@import "tailwindcss";

@theme {
  --animate-fadein: fadein 2s ease;

  @keyframes fadein {
    0% {
      opacity: 1;
      left: 0;
    }
    50% {
      opacity: 0;
      left: 16;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}

body {
  background: #e5e5e5;
  color: black;
}
